<body>
    <div id="header">#parse('header.vm')</div>
    <div id="content">
        <div id="sub">#parse($sub)</div>
        <div id="main">$screen_content</div>
    </div>
    <div id="footer">#parse('footer.vm')</div>
</body>