<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户信息记录的DAO层Mapper -->
<mapper namespace="cn.songxinqiang.study.swm.mapper.UserMapper">

    <select id="login" resultType="User">
        select * from t_user where name=#{uname} and password=#{password}
    </select>

    <!-- 根据ID查找记录 -->
    <select id="find" parameterType="int" resultType="User">
        select * from t_user where id=#{id}
    </select>
    
    <!-- 根据用户名查找记录 -->
    <select id="getUser" parameterType="String" resultType="User">
        select * from t_user where name=#{uname,jdbcType=VARCHAR}
    </select>

    <!-- 获取全部记录 -->
    <select id="listAll" resultType="User">
        select * from t_user
    </select>

    <!-- 插入记录 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="User">
        insert into t_user(name,password) values(#{name,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR})
    </insert>

    <!-- 更新记录 -->
    <update id="edit" parameterType="User">
        update t_user set password=#{password,jdbcType=VARCHAR} where id=#{id}
    </update>

</mapper>
