#set($layout = "menuLayout.vm") 
        <div class="top_nav">
            <ul class="top_menu_left">
                <li class="left top_menu active_top_menu" id="/menu/pbx" def="/home/devices">菜单1</li>
                <li class="left top_menu" id="/menu/report" def="/log/page/talk/1">菜单2</li>
                <li class="left top_menu" id="/menu/network" def="/network/settings">菜单3</li>
                <li class="left top_menu" id="/menu/system" def="/sys/time">菜单4</li>
            </ul>
        </div>

        <div class="top_main">
            <div class="top_main_navi left">
                <a href="#" class="top_main_navi_hide_btn right"><img src="#springUrl("/images/btn_hide_left.gif")" /></a>
                <div class="clear"></div>
                <iframe frameborder="0" width="100%" height="100%" name="menu_frame" id="menu_frame">菜单</iframe>
            </div>
            <div class="top_main_navi_show_btn left"></div>

            <iframe frameborder="0" width="100%" height="100%" name="main_frame" id="main_frame" src="http://www.baidu.com"></iframe>

            <div class="top_main_log right">
                <a href="#" class="top_main_log_hide_btn left"><img src="#springUrl("/images/btn_hide_right.gif")" /></a>
                <div class="clear"></div>
                <iframe frameborder="0" width="100%" height="100%" name="log_frame" id="log_frame">log</iframe>
            </div>
            <div class="top_main_log_show_btn left"></div>
        </div>
